<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063603907093-f03k51cdrbqjavfldqkbc67amoi4jvg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063603907093-f03k51cdrbqjavfldqkbc67amoi4jvg9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063603907093-5f3t8hnqttp6ek980iufp2phu4mqsfpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCmyZ9LerrE3ZCZVgKmMEkbtqAI7sFdzM</string>
	<key>GCM_SENDER_ID</key>
	<string>1063603907093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMentalfit</string>
	<key>PROJECT_ID</key>
	<string>mental-fit-78d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-fit-78d5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063603907093:ios:554dea720b9f60086dfc1c</string>
</dict>
</plist>